/* Styles for every element */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

/* Styles for most elements */
html {
  cursor: default;
}

/* Change the background colour of selected items to yellow */
::-moz-selection {
  background: yellow;
}
::selection {
  background: yellow;
}

body {
  width: 1000px;
  margin: auto;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button, input {
  position: relative;
  background: #fff;
  outline: none;
  border: 1px solid #dcdcdc;
  font-weight: 300;
  font-size: 16px;
  padding: 0.25rem;
  -webkit-transition: background ease-in-out 0.1s;
  transition: background ease-in-out 0.1s;
  cursor: pointer;
}

button:hover {
  background: #eee;
}

button:active {
  background: #dcdcdc;
}

input[type=text] {
  text-align: center;
  cursor: text;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
  font-size: 20px;
}

/* Specific IDs */
#flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#fill {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#center-text {
  text-align: center;
}

/* Specific classes */
.disabled {
  background: #dcdcdc !important;
  color: #888 !important;
  cursor: default;
}

.fakebutton {
  cursor: default;
}

.fakebutton:hover {
  background: #fff;
}

.fakebutton:active {
  background: #fff;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.nondisplay {
  display: none !important;
}

.selected {
  background: #eee;
}

.transition {
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

/* More specific rules */
header {
  font-size: 250%;
  /* Make the TinyCiv.js text bigger */
  text-align: center;
  margin-bottom: 1rem 0;
  padding: 2rem 0;
  border-bottom: 1px solid #dcdcdc;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

nav button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  font-weight: 600;
  font-size: 13px;
  background: LimeGreen;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

nav button:hover {
  background: Lime;
  color: #fff;
}

/* Very specific rules */
.next-year-btn {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.setup-btn {
  padding: 1rem 0;
}

.info-log {
  border: 1px solid #dcdcdc;
  height: 75px;
  margin: 1rem 0;
  overflow-y: scroll;
}

.info-log p {
  -webkit-transition: background ease-in-out 0.1s;
  transition: background ease-in-out 0.1s;
  padding: 0 1rem;
}

.info-log p:hover {
  background: #eee;
}

.panel-row {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel {
  border: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel button {
  border: none;
  border-top: 1px solid #dcdcdc;
}

.panel h4, .header-btn {
  font-weight: 400;
  font-size: 19px;
  padding: 0.25rem 0;
}

.header-btn {
  border: none;
  /* border-bottom: 1px solid #dcdcdc !important; */
}

button:hover .desc {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.desc {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  z-index: 1;
  padding: 0.25rem;
  width: 175px;
  min-height: 75px;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  top: -15px;
  right: -60px;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.desc h2, .desc h3 {
  font-size: 16px;
}

/* Roboto font at font weights 300, 400, 500, 700 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*# sourceMappingURL=style.css.map */