@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
main {
  min-width: 100vw;
  min-height: 100vh;
}

main div.code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
  background: black;
  font-size: 1rem;
  text-shadow: 0 3px 0 #404040;
  border-bottom: 3px solid #fff;
}

main div.code p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main header {
  background: #30305a;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #fff;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.victory-card {
  margin: 0 1rem;
  background: grey;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  width: 200px;
  height: 80px;
  text-align: center;
}

.victory-card h3 {
  text-shadow: 0 3px 0 #404040;
}

.victory-card h4 {
  line-height: 90%;
  font-size: 0.8rem;
}

aside, article {
  height: calc(100vh - 40px);
  width: 20vw;
  background: #30305a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside {
  float: right;
  border-left: solid 3px #fff;
  -webkit-box-shadow: -3px 0 0 #000;
          box-shadow: -3px 0 0 #000;
}

article {
  float: left;
  border-right: solid 3px #fff;
  -webkit-box-shadow: 3px 0 0 #000;
          box-shadow: 3px 0 0 #000;
}

.player-card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 150px;
  border-bottom: 3px solid #fff;
  -webkit-box-shadow: inset 0 3px 0 #000;
          box-shadow: inset 0 3px 0 #000;
  background: #a83232;
}

.player-card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
}

.player-card .text {
  float: left;
  margin-right: 1rem;
  width: 8vw;
}

.player-card .text h2 {
  text-shadow: 0 3px 0 #404040;
}

.player-card .text h3 {
  font-size: 1rem;
}

.player-card .card-avatar {
  float: right;
  width: 125px;
  height: 125px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.player-card .card-avatar img {
  position: relative;
  width: auto;
  height: 125px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  right: 250px;
}

section {
  float: left;
  width: calc(100vw - 40vw);
}

nav {
  width: 100%;
  height: 40px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resource-container {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resource-container p {
  margin-right: 1rem;
}

.year-container {
  padding: 0 1rem;
  width: 150px;
}

.year-dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.year-dot {
  border: 2px solid white;
  width: 7px;
  height: 7px;
  background: none;
}

#year {
  width: 100%;
  margin: 0;
  text-align: right;
  font-size: 0.8rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.panel {
  width: 17vw;
  border: 3px solid white;
  -webkit-box-shadow: 0 3px 0 black;
          box-shadow: 0 3px 0 black;
}

.panel h2 {
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  border-bottom: 3px solid white;
}

.panel h3 {
  font-size: 0.8rem;
}

.buyables {
  padding: 0.5rem;
}

main button {
  border-radius: 0;
  border: 3px solid white;
  -webkit-box-shadow: 0 3px 0 black;
          box-shadow: 0 3px 0 black;
}

.details-box {
  width: 200px;
  min-height: 100px;
  background: #161616;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  position: absolute;
  padding: 0.3rem;
  border: 3px solid white;
  display: none;
}

.details-box h2 {
  font-size: 1.2rem;
  text-shadow: 0 3px 0 #404040;
}

.details-box p {
  font-size: 0.8rem;
}

.menu-container {
  position: fixed;
  min-width: 100px;
  width: 100vw;
  min-height: 300px;
  height: 100vh;
}

.player-panel {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  width: 300px;
  height: 500px;
  background: #a83232;
}

.player-panel h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12.5px;
  background: #5c0f0f;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  border: 3px solid #fff;
  font-size: 1rem;
}

.player-panel h2 b {
  font-size: 1.3rem;
  text-shadow: 0 3px 0 #404040;
}

div.player-panel h3 {
  font-size: 1.5rem;
  text-shadow: 0 3px 0 #404040;
}

.player-panel h4 {
  padding: 12.5px 35px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  font-size: 1.5rem;
  width: 211px;
  text-align: center;
}

.ready-btn-ready {
  background: #39ff14;
}

.ready-btn-notready {
  background: red;
}

.ready-btn:hover {
  -webkit-box-shadow: inset 0 3px 0 #000;
          box-shadow: inset 0 3px 0 #000;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  cursor: pointer;
}

.ready-btn::-moz-selection {
  background: none;
}

.ready-btn::selection {
  background: none;
}

.menu {
  width: 200px;
  margin: 0.1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.lobby-options {
  width: 206px;
  text-align: center;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.avatar {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
  border: solid 3px #fff;
}

.avatar img {
  height: 100%;
  width: auto;
  position: relative;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.avatar-select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.avatar-select span {
  text-decoration: underline;
  cursor: pointer;
}

.avatar-select span::-moz-selection {
  background: none;
}

.avatar-select span::selection {
  background: none;
}

button, .menu a, input {
  font-size: 1rem;
  margin: 0.1em 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  border: none;
  outline: none;
  background: #4a4e69;
  text-decoration: none;
}

button:hover, .menu a:hover {
  background: #9a8c98;
}

button:disabled {
  background: #2d2e38;
  cursor: default;
}

input:valid {
  background: #ee6c4d;
}

.pop-up-container {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.pop-up {
  background: #22223b;
  border: 3px solid #fff;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
}

.pop-up::-moz-selection {
  background: none;
}

.pop-up::selection {
  background: none;
}

.error-msg {
  margin: 0.3em 0;
  background: red;
  text-align: center;
}

.error-msg-transition {
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

html {
  font-size: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  font-family: 'VT323';
  font-weight: 400;
}

button, a {
  cursor: pointer;
}

input {
  cursor: text;
}

h1 {
  text-shadow: 0 3px 0 #000;
}

body {
  background: #22223b;
}

.column-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=style.css.map */