@import './game';
@import './menus';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    font-size: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    font-family: 'VT323';
    font-weight: 400;
}

button, a {
    cursor: pointer;
}

input {
    cursor: text;
}

h1 {
    text-shadow: 0 3px 0 #000;
}

body {
    background: #22223b;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}